html {
  width: 100%;
  height: 100%;
  margin: 0;
}

.app-main-container {
  display: flex;
  flex-direction: column;
}

.app-bottom-row {
  display: flex;
  flex-direction: row;
  width: 70%;
  gap: 30px;
}
.select-new-product {
  width: 100%;
  padding: 10px 20px;
}

.product-list {
  display: flex;
  flex-direction: column;
}

.purchase-details {
  width: 100%;
}
